/* Estilos Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Estilo del Encabezado */
.header-section {
    background: url('assets/imagen/fondo.jpg') center/cover no-repeat;
    height: 100vh; /* Altura total de la pantalla */
    display: flex;
    align-items: center; /* Centrado vertical */
    justify-content: center; /* Centrado horizontal */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-content .btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.hero-content .btn:hover {
    background-color: #0056b3;
}

/* Estilo de la Sección "Sobre Nosotros" */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.my-5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}